.container {
	display: grid;
	gap: 0.5em;
	margin-top: 1em;
}

@starting-style {
	.box {
		opacity: 0;
	}
}

.box {
	background: salmon;
	opacity: 0.8;
	width: 200px;
	height: 40px;

	transition: opacity 300ms ease-out;
}
